extends layout

block content

  h1 #{title}: #{company.name}
  p= company.date_founded

  if company_consoles.length

    p #[strong Delete the following books before attempting to delete this Company.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Consoles
      dl
        each console in company_consoles
          dt
            a(href=console.url) #{console.name}
          dd #{console.description}

  else
    p Do you really want to delete this Company?

    form(method='POST')
      div.form-group
        input#comapnyid.form-control(type='hidden', name='companyid', value=company._id )

      button.btn.btn-primary(type='submit') Delete
