extends layout

block content

  h1 ID: #{consoleinstance._id}

  p #[strong Console: ]
    a(href=consoleinstance.console.url) #{consoleinstance.console.name}

  p #[strong Condition: ]
    if consoleinstance.conidtion =='New'
      span.text-success #{consoleinstance.condition}
    else
      span.text-danger #{consoleinstance.condition}

  hr
  p
    a(href=consoleinstance.url+'/update') Update Console Instance
  p
    a(href=consoleinstance.url+'/delete') Delete Console Instance
