extends layout

block content
    h1= title
    if consoleinstance_list.length
        ul
            each consoleinstance in consoleinstance_list
                li
                    a(href=consoleinstance.url) #{consoleinstance.console.name} 
                    | (#{consoleinstance.console.company.name}) 

                    if consoleinstance.condition === 'New'
                        span.text-success #{consoleinstance.condition}
                    else 
                        span.text-danger #{consoleinstance.condition}

    else
        p There are no consoles instances.
    

